// Use library functions for theme creation.

@use '@angular/material' as mat;
@use '@angular/material/theming';

// Define a mixin that accepts a theme and outputs the theme-specific styles.

@mixin theme($theme) {

  // Extract the palettes needed from the theme definition.

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  
  // Define any styles affected by the theme.

  app-footer[color="primary"],
  footer[color="primary"] {
    background-color: mat.get-color-from-palette($primary,lighter);
    color: mat.get-color-from-palette($primary, default-contrast);
  }
  
  app-footer[color="accent"],
  footer[color="accent"] {
    background-color: mat.get-color-from-palette($accent);
    color: mat.get-color-from-palette($accent, default-contrast);
  }
}
