<app-layout>
  <app-header>
    <h1>{{ title }}</h1>  
  </app-header>

  <main>
    <form [formGroup]="form">
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name" />
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Title" formControlName="title" />
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Phone" formControlName="phone" />
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="E-mail" formControlName="email" />
      </mat-form-field>
    </form>

    <div class="button-row">
      <button mat-raised-button type="submit" color="primary" [disabled]="form.invalid" (click)="save()">Save</button>
      <button mat-raised-button type="button " (click)="cancel() ">Cancel</button>
    </div>
  </main>

  <footer>
  </footer>
</app-layout>
