<app-layout>
  <header>
    <h1>Contacts List</h1>

    <button mat-fab color="primary" (click)="add()">
      <mat-icon>add</mat-icon>
    </button>
  </header>

  <main>
    <mat-table #table [dataSource]="dataSource" matSort matSortActive="name" matSortDirection="asc" matSortDisableClear>

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <ng-container cdkColumnDef="id">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header>ID</mat-header-cell>
        <mat-cell *cdkCellDef="let row">{{ row.id }}</mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="name">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *cdkCellDef="let row">{{ row.name }}</mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="phone">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header>Phone</mat-header-cell>
        <mat-cell *cdkCellDef="let row">{{ row.phone }}</mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="email">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header>Email</mat-header-cell>
        <mat-cell *cdkCellDef="let row">{{ row.email }}</mat-cell>
      </ng-container>

      <mat-header-row *cdkHeaderRowDef="displayColumns"></mat-header-row>
      <mat-row mat-ripple *cdkRowDef="let row; columns: displayColumns"
          [routerLink]="'/protected/edit/'+ row.id">
      </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </main>

  <footer></footer>
</app-layout>
