<table>
  <tr *ngIf="!!details.language"><td>Language:</td><td>{{ details.language }}</td></tr>
  <tr *ngIf="!!details.country"><td>Country:</td><td>{{ details.country }}</td></tr>
  <tr *ngIf="!!details.description"><td>Description:</td><td>{{ details.description }}</td></tr>
  <tr *ngIf="!!details.link"><td>More:</td><td><a [href]="details.link" target="_new">{{ details.link }}</a></td></tr>
</table>
