main,
header {
  max-width: 80rem;
}

.filter > mat-form-field {
   display: block;
 }

.cdk-column-id {
  flex: 0 1 3rem;
}

.cdk-column-title {
  flex: 1 1 10rem;
}

.cdk-column-author {
  flex: 1 1 10rem;
}

.cdk-column-year {
  flex: 0 1 8rem;
}

.cdk-column-pages {
  flex: 0 01 8rem;
}

.cdk-column-indicator {
  flex: 0 1 2rem;
  display: flex;
  justify-content: flex-end;
}

.mat-row {
   cursor: pointer;
}

.mat-row.expanded {
  border-bottom-width: 0px;
}

.mat-row.expanded:hover {
  background: rgba(0, 0, 0, 0);
}

.mat-row.details-row {
  min-height: 0px;
  border-bottom-width: 0px;
}

.mat-row.details-row.expanded {
  border-bottom-width: 1px;
}

.details {
  overflow: hidden;
  display: flex;
}
