<app-layout>
  <header>
    <h1>Book List</h1>
  </header>

  <main>
    <div class="filter">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
      </mat-form-field>
    </div>

    <mat-table matSort [dataSource]="dataSource" matSort matSortActive="author" matSortDirection="asc" matSortDisableClear multiTemplateDataRows>

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <ng-container cdkColumnDef="id">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header>ID</mat-header-cell>
        <mat-cell *cdkCellDef="let row">{{ row.id }}</mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="author">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header>Author</mat-header-cell>
        <mat-cell *cdkCellDef="let row">{{ row.author }}</mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="title">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header>Title</mat-header-cell>
        <mat-cell *cdkCellDef="let row">{{ row.title }}</mat-cell>
      </ng-container>
      
      <ng-container cdkColumnDef="year">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header>Year</mat-header-cell>
        <mat-cell *cdkCellDef="let row">{{ row.year }}</mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="pages">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header>Pages</mat-header-cell>
        <mat-cell *cdkCellDef="let row">{{ row.pages }}</mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="indicator">
        <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
        <mat-cell *cdkCellDef="let row">
          <span *ngIf="row === expandedRow"><mat-icon>expand_less</mat-icon></span>
          <span *ngIf="row !== expandedRow"><mat-icon>expand_more</mat-icon></span>
        </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="details">
        <mat-cell *cdkCellDef="let row">
          <div class="details"
          [@detailExpand]="row == expandedRow ? 'expanded' : 'collapsed'">
            <list-details [details]="row"></list-details>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *cdkHeaderRowDef="displayColumns"></mat-header-row>
      <mat-row mat-ripple *cdkRowDef="let row; columns: displayColumns"
        [class.expanded]="expandedRow === row"
        (click)="expandedRow = (expandedRow === row ? null : row)">
      </mat-row> 
      <mat-row *matRowDef="let row; columns: ['details']" 
        class="details-row"
        [class.expanded]="expandedRow === row"
        (click)="expandedRow = (expandedRow === row ? null : row)">
      </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
 
    <a routerLink="/protected">Protected, test me!</a>
  </main>

  <footer></footer>
</app-layout>
