/* Use app theming */

@use './theme';

/* You can add global styles to this file, and also import other style files */

html {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  min-height: 100vh;
  width: 100%;
}

.mat-cell:first-of-type,
.mat-header-cell:first-of-type,
.mat-footer-cell:first-of-type {
  padding-left: 0px;
}

.mat-cell:last-of-type,
.mat-header-cell:last-of-type,
.mat-footer-cell:last-of-type {
  padding-right: 0px;
}
