/* Use Material theming functions */

@use '@angular/material' as mat;

/* Use core library's theming */

@use 'libs/core/theme' as core;

@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$default-primary: mat.define-palette(mat.$indigo-palette,700, 500, 900);
$default-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$default-success: mat.define-palette(mat.$green-palette);
$default-info: mat.define-palette(mat.$blue-palette);
$default-warning: mat.define-palette(mat.$orange-palette);
$default-error: mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes). The default theme in this 
// case is a "light" theme i.e. "black-on-write" as opposed to the "dark theme" defined below which 
// is a "write-on-black" theme. 

$default-theme: mat.define-light-theme((
  color: (
    primary: $default-primary,
    accent: $default-accent,
    warning: $default-warning
  ),
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

@include mat.all-component-themes($default-theme);

@include core.theme($default-theme);

.mat-table,
.mat-paginator {
  background-color: transparent;
}

.mat-row:hover {
  background-color: mat.get-color-from-palette(mat.$grey-palette, 100);
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent;
}

// Define dark theme

.dark-theme {
  $dark-primary: mat.define-palette(mat.$indigo-palette,700, 500, 900);
  $dark-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
    
  $dark-success: mat.define-palette(mat.$green-palette);
  $dark-info: mat.define-palette(mat.$blue-palette);
  $dark-warning: mat.define-palette(mat.$orange-palette);
  $dark-error: mat.define-palette(mat.$red-palette);

  $dark-theme: mat.define-dark-theme((
    color: (
      primary: $default-primary,
      accent: $default-accent,
      warning: $default-warning
    ),
  ));

  @include mat.all-component-colors($dark-theme);

  @include core.theme($dark-theme);

  .mat-mdc-row:hover {
    background-color: mat.get-color-from-palette(mat.$grey-palette, 800);
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: transparent;
  }
}
