:host {
  width: calc(100% - 32px);
  margin: auto;
  padding: 16px;
  flex: 0 0 auto;
  display: flex;

  ::ng-deep h1,
  ::ng-deep h2,
  ::ng-deep h3 {
    font-weight: normal;
    margin-block-end: 0px;
  }

  ::ng-deep > :first-child {
    flex-grow: 1;
  }
}
