<h1 mat-dialog-title>Webclient</h1>

<div mat-dialog-content>
  Webclient to be used as a starting point for build Angular webapps. Built with 
  <a target="_new" href="http://angular.io">Angular</a> {{ environment.ngVersion }} using 
  <a target="_new" href="http://material.angular.io">Angular Material</a> {{ environment.matVersion }}. Programmed in 
  <a target="_new" href="http://typescriptlang.org">TypeScript</a> {{ environment.tsVersion}}.
</div>

<div mat-dialog-actions>
  <button mat-raised-button cdkFocusInitial type="submit" color="primary" (click)="ok()">OK</button>
</div>
