<h3 class="mat-dialog-title">Accept use of cookies</h3>

<div class="mat-dialog-content">
  We use cookie to make this site work, e.g. to handle login. By continuing you accept this. More information about our
  <a routerLink="/privacy-policy" routerLinkActive="active">privacy policy</a> and
  <a routerLink="/terms-of-use" routerLinkActive="active">terms of use</a>.
</div>

<div class="mat-dialog-actions">
  <button mat-raised-button type="submit" color="primary" (click)="ok()">OK</button>
</div>
