<app-layout>
  <app-header color="primary">
    <h1>Home works!</h1>
  </app-header>

  <app-content>
    His ad erat reque propriae, pri eu rebum volutpat moderatius. Alii munere at quo. Eu probo malorum rationibus mel. Id vis
    velit efficiendi, tollit insolens explicari mea an. Per eleifend consequat ad, clita consulatu necessitatibus sit at.
    No usu nulla molestiae.
    Expetenda accommodare id per. Cu mei natum audiam labores, mutat dicant vel ex. Illum alienum blandit ius cu, equidem appareat
    eu eum, atomorum deseruisse ut pro. Usu propriae pericula suavitate ut.
    His iusto feugait gubergren cu. Per inimicus efficiendi ne, vel at paulo utroque. Nec modus aliquip definitionem at, solum
    reformidans eam ea. Per labitur fuisset no, mazim aperiam cu vim.
    Cum primis concludaturque cu, at putent nusquam referrentur est, duo te prompta copiosae recusabo. Ex ius regione feugiat
    atomorum. Sea posse ipsum cu. Vis ut aeque fabellas, tacimates dissentias ei quo, an quo decore patrioque maiestatis.
    Pri id porro diceret.

    Te sit sapientem prodesset disputationi, no maluisset patrioque pro. Verear explicari inciderint in eum, at vis vivendum
    cotidieque. Sed et tation animal, no est vide omnium integre. Te quo detracto mediocrem, verear erudit reprehendunt sit
    an. Errem commodo per ei.

    His ad erat reque propriae, pri eu rebum volutpat moderatius. Alii munere at quo. Eu probo maloruFm rationibus mel. Id vis
    velit efficiendi, tollit insolens explicari mea an. Per eleifend consequat ad, clita consulatu necessitatibus sit at.
    No usu nulla molestiae.

    Expetenda accommodare id per. Cu mei natum audiam labores, mutat dicant vel ex. Illum alienum blandit ius cu, equidem appareat
    eu eum, atomorum deseruisse ut pro. Usu propriae pericula suavitate ut.

    His iusto feugait gubergren cu. Per inimicus efficiendi ne, vel at paulo utroque. Nec modus aliquip definitionem at, solum
    reformidans eam ea. Per labitur fuisset no, mazim aperiam cu vim.

    Cum primis concludaturque cu, at putent nusquam referrentur est, duo te prompta copiosae recusabo. Ex ius regione feugiat
    atomorum. Sea posse ipsum cu. Vis ut aeque fabellas, tacimates dissentias ei quo, an quo decore patrioque maiestatis.
    Pri id porro diceret.

    Te sit sapientem prodesset disputationi, no maluisset patrioque pro. Verear explicari inciderint in eum, at vis vivendum
    cotidieque. Sed et tation animal, no est vide omnium integre. Te quo detracto mediocrem, verear erudit reprehendunt sit
    an. Errem commodo per ei.
  </app-content>

  <app-footer color="primary">
    Version {{ environment.myVersion }}. Built with Angular version {{ environment.ngVersion }}
  </app-footer>
</app-layout>
