<app-layout>
  <header color="accent">
    <div>
      <h1>Not Found</h1>
      <h2>Ups, something went wrong :-(</h2>
    </div>
  </header>

  <main>
    <p>
      You clicked a link which leads to nowhere or you have entered a non-existing URL in the browser.
      However, you can play a sound by clicking the button below...
    </p>
    <div>
      <mat-slider color="primary" min="0" max="1" step="0.1"  [(ngModel)]="audio.volume"></mat-slider>
      <button mat-raised-button color="primary" (click)="audio.play()">Play Sound</button>
    </div>
  </main>
  
  <footer>
  </footer>
</app-layout>
