<mat-nav-list>
  <a mat-list-item *ngIf="currentUser" 
    routerLink="/protected" routerLinkActive="active">Protected</a>
  <a mat-list-item routerLink="/public" routerLinkActive="active">Public</a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLink="/charts" routerLinkActive="active">Charts</a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLink="/device" routerLinkActive="active">Device</a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLink="/nonexisting" routerLinkActive="active">Non existing</a>
</mat-nav-list>
