:host {
  width: 100%;
  display: flex;
  align-items: center;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.mat-icon {
  cursor: pointer;
}

.mat-icon:not(:last-of-type) {
  margin-inline-end: 1rem; 
}

[routerLink] {
  cursor: pointer;
}
