<span routerLink="/">{{ titleService.getTitle() }}</span>
<span class="toolbar-spacer"></span>

<theme-toggle></theme-toggle>

<mat-icon *ngIf="!currentUser" (click)="login()">login</mat-icon>
<mat-icon *ngIf="currentUser" (click)="logout()">logout</mat-icon>

<mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>

<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/privacy-policy" routerLinkActive="active">Privacy Policy</button>
  <button mat-menu-item routerLink="/terms-of-use" routerLinkActive="active">Terms of Use</button>
  
  <mat-divider></mat-divider>
  
  <div *ngIf="!currentUser">
    <button mat-menu-item (click)="login()">Login</button>
  </div>
  <div *ngIf="currentUser">
    <button mat-menu-item disabled>User: {{ currentUser.realname }}</button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="logout()">Log out</button>
  </div>

  <mat-divider></mat-divider>

  <button mat-menu-item (click)="about()">About</button>
</mat-menu>
