<mat-toolbar #toolbar class="mat-elevation-z10" color="primary">
  <mat-toolbar-row>
    <app-toolbar></app-toolbar>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container autosize>
  <mat-sidenav #sidenav class="mat-elevation-z5" >
    <app-sidenav></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
