.mat-toolbar {
  position: fixed;
  z-index: 10;
}

.mat-toolbar-row {
  padding: 0px;
}

.mat-sidenav-container {
  position: relative;
  max-width: 100%;
  min-height: 100%;
}

.mat-sidenav {
  position: fixed;
  top: 64px;
  bottom: 0px;
  left: 0px;
  padding: 0px;
  width: 16rem;
}

.mat-sidenav-content {
  padding-top: 64px;
}

@media (max-width: 600px) {
  .mat-sidenav {
    top: 56px;
  }

  .mat-sidenav-content {
    padding-top: 56px;
  }
}
