<app-layout>
  <header color="primary">
    <h1>Device</h1>
  </header>

  <main>
    <h2>Screen</h2>

    <div class="columns">
      <span class="label">Screen Size:</span>
      <span>{{ device.screenSizeChange | async }}</span>
    </div>

    <div class="columns">
      <span class="label">Orientation:</span>
      <span>{{ device.orientationChange | async }}</span>
    </div>

    <h2>Input</h2>

    <div class="columns">
      <span class="label">Touch:</span>
      <span>{{ device.hasTouch }}</span>
    </div>

    <div class="columns">
      <span class="label">Pointer:</span>
      <span>{{ device.hasPointer }}</span>
    </div>

    <div class="columns">
      <span class="label">Stylus:</span>
      <span>{{ device.hasStylus }}</span>
    </div>

    <h2>Position</h2>

    <div class="columns">
      <span class="label">GPS state:</span>
      <span>{{ positionService.positionStateChange | async }}</span>
    </div>

    <ng-container *ngIf="positionService.positionState === 'AVAILABLE'">
      <div class="columns">
        <span class="label">Location:</span>
        <span>{{ position?.latitude + ' , ' + position?.longitude }}</span>
      </div>

      <div class="columns">
        <span class="label">Altitude:</span>
        <span>{{ position?.altitude ? position?.altitude + ' m' : '' }}</span>
      </div>

      <div class="columns">
        <span class="label">Speed:</span>
        <span>{{ position?.speed ? position?.speed + ' m/S' : '' }}</span>
      </div>

      <div class="columns">
        <span class="label">Heading:</span>
        <span>{{ position?.heading ? position?.heading + '°' : '' }}</span>
      </div>

      <div class="columns">
        <span class="label">Time:</span>
        <span>{{ position?.time | dateTime }}</span>
      </div>
    </ng-container>

    <iframe
      width="100%"
      height="350"
      frameborder="0"
      scrolling="no"
      marginheight="0"
      marginwidth="0"
      [src]="osmLink()"
      style="border: 1px solid black"
    ></iframe>
  </main>


  <footer></footer>
</app-layout>
