:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - 64px);
  overflow-x: hidden;
}

@media (max-width: 600px) {
  :host {
    min-height: calc(100vh - 56px);
  }
}
