:host {
  width: 100%;
  margin: 16px;
  padding: 0px;
  display: flex;
  align-items: center;
}

.mat-icon {
  flex: 0 0 auto;
  cursor: pointer;
}

.mat-icon:not(:last-child) {
  margin-inline-end: 16px; 
}

