<h1 mat-dialog-title>{{ config.labels?.title }}</h1>

<div class="providers">
  <span *ngIf="facebook">
    <button mat-icon-button color="primary" (click)="loginWithFacebook()">
      <i class="fab fa-facebook-square fa-3x"></i>
    </button>
    <div style="margin-top: 0.5rem">Facebook</div>
  </span>

  <span *ngIf="google">
    <button mat-icon-button color="primary" (click)="loginWithGoogle()">
      <i class="fab fa-google fa-3x"></i>
    </button>
    <div style="margin-top: 0.5rem">Google</div>
  </span>

  <span *ngIf="linkedIn">
    <button mat-icon-button color="primary" (click)="loginWithLinkedin()">
      <i class="fab fa-linkedin fa-3x"></i>
    </button>
    <div style="margin-top: 0.5rem">Linkedin</div>
  </span>
</div>

<div class="divider">
  <span><mat-divider></mat-divider></span>
  <span>{{ config.labels?.alternative }}</span>
  <span><mat-divider></mat-divider></span>
</div>

<div mat-dialog-content>
  <form [formGroup]="form" (submit)="login()">
    <mat-form-field class="full-width">
      <mat-label>{{ config.labels?.username }}</mat-label>
      <input matInput type="text" formControlName="username" cdkFocusInitial />
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>{{ config.labels?.password }}</mat-label>
      <input matInput type="password" formControlName="password" />
    </mat-form-field>
  </form>
</div>

<div class="message">{{ this.message }}</div>

<div mat-dialog-actions>
  <button mat-raised-button type="submit" color="primary" [disabled]="form.invalid" (click)="login()">
    {{ config.labels?.login }}
  </button>
  <button mat-raised-button type="button " (click)="cancel()">{{ config.labels?.cancel }}</button>
</div>
