
.providers > span {
  display: inline-block;
  width: 33%;
  text-align: center;
}

.divider {
  margin-top: 2rem; 
  margin-bottom: 2rem
}

.divider > span {
  display: inline-block;
  text-align: center;
  width: 10%;
}
.divider > span:first-child,
.divider > span:last-child {
  width: 45%;
}

.full-width {
  width: 100%;
}

.message {
  height: 1rem;
  color: red;
}
