<app-layout>
  <header color="primary">
    <h1>Line Chart</h1>  
  </header>

  <main>
    <canvas lineChart [data]="data"></canvas>
    
    <button mat-icon-button color="primary" routerLink="..">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </main>

  <footer>
  </footer>
</app-layout>
