<app-layout>
  <header color="primary">
    <h1>Charts</h1>
  </header>

  <main>
    <mat-nav-list>
      <a mat-list-item routerLink="bar">Bar Chart</a>
      <a mat-list-item routerLink="line">Line Chart</a>
      <a mat-list-item routerLink="pie">Pie Chart</a>
      <a mat-list-item routerLink="radar">Radar Chart</a>
      <a mat-list-item routerLink="scatter">Scatter Chart</a>
    </mat-nav-list>
  </main>

  <footer>
  </footer>
</app-layout>
